html,
body {
  margin: 0;
  padding: 0;
}
textarea:focus,
input:focus {
  outline: none;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-bottom: 1px solid #000;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header input {
  margin-right: 20px;
}
.main {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}
